{{extend 'layout.html'}}

<h4>{{ =A(tourney.name, _href=URL('tournament', 'view', args=tourney.dbid, extension='html')) }}</h4>

<h1>{{=name}}</h1>

<ul class="list-unstyled">
    {{ for m in members: }}
    <li>{{=m}}</li>
    {{ pass }}
</ul>