{{extend 'layout.html'}}
<div>
    <h3>Registered Teams</h3>
    <table class="table">
    {{ for t in teams: }}
        <tr>
            <td> {{=A(t.name, _href=URL('team', 'view', args=t.id, extension='html'))}} </td>
            <td>
                <ul class="list-unstyled">
                    {{ for m in t.members: }}
                        <li>{{=A(m.name, _href=URL('player', 'view', args=m.dbid, extension='html'))}}</li>
                    {{ pass }}
                </ul>
            </td>
            <td> <a class="btn btn-default" href="{{=URL('team', 'join', args=t.id, extension='html')}}" role="button">Join!</a> </td>
        </tr>
    {{ pass }}
    </table>
</div>