{{extend 'layout.html'}}
        <h1>{{=tournament.name}}</h1>
        <hr>
        <h3>Invite your friends with this code: {{=A(tournament.code, _href=URL('tournament', 'join', args=[tournament.code]))}}</h3>
        <hr>
        {{=A('Add Fake Team', _href=URL('test', 'addFakeTeam', args=[request.args(0)]), _class='btn btn-default', _role='button')}}
        {{=A('Start Tourney', _href=URL('tournament', 'start', args=[request.args(0)]), _class='btn btn-default', _role='button')}}

        <hr>
        {{#=LOAD('team', 'create.load', args=[request.args(0)], ajax_trap=True)}}
        <hr>
        {{=LOAD('tournament', 'standings.load', args=[request.args(0)], ajax=True)}}
        <hr>
        {{=LOAD('tournament', 'teams.load', args=[request.args(0)], ajax=True)}}
        <hr>
        {{=LOAD('tournament', 'games.load', args=[request.args(0)], ajax=True)}}