{{extend 'layout.html'}}

{{block header}}
    <header class="container-fluid background">
      <div class="jumbotron text-center">
        <h1>Tailgate Tournaments</h1>
      </div>
    </header>
{{end}}

{{=LOAD('tournament', 'list_all.load', ajax=False)}}

<a class="btn btn-primary" href="{{=URL('tournament', 'create')}}" role="button">Create Tournament</a>

